extends layout

block row
  .col-md-4.col-sm-6.col-xs-12
    p ToDo lijst ...
  .col-md-4.col-sm-6.col-xs-12
    iframe(type='text/html' height='400px' frameborder='1' src="https://webchat.botframework.com/embed/Mounty?t=ck4x3vM3YrQ.dAA.QgBiAE8ARABVADEAeQA3AFAATwBrAEkAQQAyAEwAVgAwAHEAWgByAHEAWQA._0o_CMgs0wE.GlnRK-pFYFM.rqK4qwgoalmc42KFuW1JzPoTBtPxUkn2Lzm7g7jt8oo")
