extends layout

block content
  html  
      head
          title Welcome to #{title}!
      body
          header
              p Welcome to #{title}!
          section
              p This is a post about Pug template engine, enjoy it!
          footer
              cool footer with lots of copyrights
